langchain
openai==0.28.1
streamlit
tiktoken
pandas
tabulate
streamlit_chat
chromadb 
faiss-cpu
gspread
pytz 
airtable-python-wrapper
tabulate
langchain-experimental
langchain==0.0.349
langchain-community==0.0.1
langchain-core==0.0.13
langsmith==0.0.77
